@model IEnumerable<COMP003B.AssignmentFinal.Models.Goal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalBenchPress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalSquat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalArmCurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalMileTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalBenchPress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalSquat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalArmCurl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalMileTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
