@model COMP003B.AssignmentFinal.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
